{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Portal de Gamificação!</h1>
    <p class="lead">Gerencie seus desafios e aumente seu ranking.</p>
    <hr class="my-4">
    {% if not user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Faça Login</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">Registrar</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'my_challenges' %}" role="button">Meus Desafios</a>
    {% endif %}
</div>
{% endblock %}
